* .frame-hda_buttonbox, * .frame-hda_infobox			{display: none;}
.right .frame-hda_buttonbox, .right .frame-hda_infobox	{display: block;}

/** hda_buttonbox *****************************************************************************************************************/
main .frame-hda_buttonbox {								background: rgba($baseColor, 1); transition: all ease .5s; 
	> *													{margin: 0; font-size: 100%; padding: $v2;	}
	a													{line-height: $v3; color: rgba(255,255,255,.9) !important;text-transform: uppercase;	margin: 0;transition: all ease .5s; letter-spacing: .01rem; }
	a:after												{line-height: $v3; font-size: $v5; font-style: normal; font-family: $symbol; color: rgba(255,255,255,.9) !important; content: '\F105'; float: right;} 
	a:hover:after										{color: #fff !important;}	
	&:hover												{box-shadow: $shadow;}
}
	 
/** hda_infobox *****************************************************************************************************************/
.frame-hda_infobox {									background: rgba($baseColor, 1); transition: all ease .5s; padding: calc(var(--bs-gutter-x) / 2); color: #fff; 
	*													{margin: 0; padding: 0; }
	.h3											 		{margin-bottom: $v2; text-transform: none; letter-spacing: .01rem; color: #fff !important; letter-spacing: .01rem; text-transform: uppercase; }	
	a	
	a:hover												{color: #fff !important;} 
	ul													{padding-left: 20px;}
	> div > *											{font-size : $v3; }	
	&:hover												{box-shadow: $shadow;}
}

 
/** Color variations **/
	 
.orange{
	.frame-hda_infobox,
	.frame-hda_buttonbox									{background: rgba($orange, 1);} 

	.frame-hda_infobox a,
	.frame-hda_buttonbox a									{color: rgba(255,255,255,.9) !important; font-weight: bold;}

	.frame-hda_infobox a:hover,
	.frame-hda_buttonbox a:hover							{color: #fff !important;} 
}

.blue{
	.frame-hda_infobox,
	.frame-hda_buttonbox									{background: rgba($blue, 1); }

	.frame-hda_infobox a,
	.frame-hda_buttonbox a									{color: rgba(255,255,255,.9) !important; font-weight: bold;}

	.frame-hda_infobox a:hover,
	.frame-hda_buttonbox a:hover							{color: #fff !important;} 
}

.green{
	.frame-hda_infobox,
	.frame-hda_buttonbox									{background: rgba($green, 1); }

	.frame-hda_infobox a,
	.frame-hda_buttonbox a									{color: rgba(255,255,255,.9) !important; font-weight: bold;}

	.frame-hda_infobox a:hover,
	.frame-hda_buttonbox :hover								{color: #fff !important;} 
}

.grey{
	.frame-hda_infobox,
	.frame-hda_buttonbox									{background: rgba($grey, 1);} 

	.frame-hda_infobox a,
	.frame-hda_buttonbox a									{color: rgba(255,255,255,.9) !important; font-weight: bold;}

	.frame-hda_infobox a:hover,
	.frame-hda_buttonbox a:hover							{color: #fff !important;}	
}

.red {
	.frame-hda_infobox,
	.frame-hda_buttonbox									{background: rgba($red, 1); }

	.frame-hda_infobox a,
	.frame-hda_buttonbox a									{color: rgba(255,255,255,.9) !important; font-weight: bold;}

	.frame-hda_infobox a:hover,
	.frame-hda_buttonbox a:hover							{color: #fff !important;} 
}

.turquoise {
	.frame-hda_infobox,
	.frame-hda_buttonbox									{background: rgba($turquoise, 1); }

	.frame-hda_infobox a,
	.frame-hda_buttonbox a									{color: rgba(255,255,255,.9) !important; font-weight: bold;}

	.frame-hda_infobox a:hover,
	.frame-hda_buttonbox a:hover							{color: #fff !important;}
}

.violett{
	.frame-hda_infobox,
	.frame-hda_buttonbox									{background: rgba($violett, 1); }

	.frame-hda_infobox a,
	.frame-hda_buttonbox a									{color: rgba(255,255,255,.9) !important;font-weight: bold;}

	.frame-hda_infobox a:hover,
	.frame-hda_buttonbox a:hover							{color: #fff !important;} 
}

.yellow{
	.frame-hda_infobox,
	.frame-hda_buttonbox									{background: rgba($yellow, 1); }

	.frame-hda_infobox a,
	.frame-hda_buttonbox a									{color: rgba(255,255,255,.9) !important; font-weight: bold;}

	.frame-hda_infobox a:hover,
	.frame-hda_buttonbox a:hover							{color: #fff !important;} 
}