  * .frame-type-hda_buttonbox, * .frame-type-hda_infobox          			{display: none;}
  .right .frame-type-hda_buttonbox, .right  .frame-type-hda_infobox         {display: block;}
  
  /** hda_buttonbox *****************************************************************************************************************/
main  .frame-type-hda_buttonbox {                    background: rgba($baseColor, 1); transition: all ease .5s; 
    > *                                              {margin: 0; font-size: 100%; padding: calc(var(--bs-gutter-x) / 2);   }
    a                                                {line-height: 100%; color: rgba(255,255,255,.9) !important;  text-transform: uppercase;   margin: 0;  transition: all ease .5s; letter-spacing: .01rem; }
    a:after                                          {line-height: 100%; font-size: 150%; font-style: normal; font-family: $symbol; color: rgba(255,255,255,.9) !important; content: '\F105'; float: right;} 
    a:hover:after                                    {color: #fff !important;}    
  }
     
main .frame-type-hda_buttonbox:hover                 {background: rgba($baseColor, 1); box-shadow: $shadow; }  

  /** hda_infobox *****************************************************************************************************************/
  .frame-type-hda_infobox {                          background: rgba($baseColor, 1); transition: all ease .5s; padding: calc(var(--bs-gutter-x) / 2); color: #fff; 
    *                                                {margin: 0; padding: 0; }
    > h3,
    > h2                                             {margin-bottom: .5rem; text-transform: none; letter-spacing: .01rem; color: #fff !important; letter-spacing: .01rem; text-transform: uppercase; }    
    a      
    a:hover                                          {color: #fff !important;} 
    ul                                               {padding-left: 20px;}
    > div > *                                        {font-size : 1rem; }    
  }
  
 
  /** Color variations **/
     
.orange{
  .frame-type-hda_infobox,
  .frame-type-hda_buttonbox                                      {background: rgba($orange, 1);} 
  
  .frame-type-hda_infobox a,
  .frame-type-hda_buttonbox a                                    {color: rgba(255,255,255,.9) !important; font-weight: bold;}
  
  .frame-type-hda_infobox a:hover,  
  .frame-type-hda_buttonbox a:hover                              {color: #fff !important;} 
}

.blue{
  .frame-type-hda_infobox,
  .frame-type-hda_buttonbox                                      {background: rgba($blue, 1); }
  
  .frame-type-hda_infobox a,
  .frame-type-hda_buttonbox a                                    {color: rgba(255,255,255,.9) !important; font-weight: bold;}
  
  .frame-type-hda_infobox a:hover,  
  .frame-type-hda_buttonbox a:hover                              {color: #fff !important;} 
}

.green{
  .frame-type-hda_infobox,
  .frame-type-hda_buttonbox                                      {background: rgba($green, 1); }
  
  .frame-type-hda_infobox a,
  .frame-type-hda_buttonbox a                                    {color: rgba(255,255,255,.9) !important; font-weight: bold;}
  
  .frame-type-hda_infobox a:hover,  
  .frame-type-hda_buttonbox :hover                               {color: #fff !important;} 
}

.grey{
  .frame-type-hda_infobox,
  .frame-type-hda_buttonbox                                      {background: rgba($grey, 1);} 
  
  .frame-type-hda_infobox a,
  .frame-type-hda_buttonbox a                                    {color: rgba(255,255,255,.9) !important; font-weight: bold;}
  
  .frame-type-hda_infobox a:hover,  
  .frame-type-hda_buttonbox a:hover                              {color: #fff !important;}   
}

.red {
  .frame-type-hda_infobox,
  .frame-type-hda_buttonbox                                      {background: rgba($red, 1); }
  
  .frame-type-hda_infobox a,
  .frame-type-hda_buttonbox a                                    {color: rgba(255,255,255,.9) !important; font-weight: bold;}
  
  .frame-type-hda_infobox a:hover,  
  .frame-type-hda_buttonbox a:hover                              {color: #fff !important;} 
}

.turquoise {
  .frame-type-hda_infobox,
  .frame-type-hda_buttonbox                                      {background: rgba($turquoise, 1); }
  
  .frame-type-hda_infobox a,
  .frame-type-hda_buttonbox a                                    {color: rgba(255,255,255,.9) !important; font-weight: bold;}
  
  .frame-type-hda_infobox a:hover,  
  .frame-type-hda_buttonbox a:hover                              {color: #fff !important;}  
}

.violett{
  .frame-type-hda_infobox,
  .frame-type-hda_buttonbox                                      {background: rgba($violett, 1); }
  
  .frame-type-hda_infobox a,
  .frame-type-hda_buttonbox a                                    {color: rgba(255,255,255,.9) !important;  font-weight: bold;}
  
  .frame-type-hda_infobox a:hover,  
  .frame-type-hda_buttonbox a:hover                               {color: #fff !important;} 
}

.yellow{
  .frame-type-hda_infobox,
  .frame-type-hda_buttonbox                                      {background: rgba($yellow, 1); }
  
  .frame-type-hda_infobox a,
  .frame-type-hda_buttonbox a                                     {color: rgba(255,255,255,.9) !important; font-weight: bold;}
  
  .frame-type-hda_infobox a:hover,  
  .frame-type-hda_buttonbox a:hover                               {color: #fff !important;} 
}



  